In [2]:
import pandas as pd
import os
from itables import show

# Emissionsdaten Rudolf Müller Anlege (Darmstadt)

In [46]:
darmstadt = pd.read_csv('D:\\Data Science\\VS Code\\final_project\\Luftmessung_Darmstadt\\Darmstadt.txt', sep=';')
darmstadt['date'] = pd.to_datetime(darmstadt['Datum'], format='%d.%m.%Y')
darmstadt['Zeit'] = darmstadt['Zeit'].replace('24:00', '00:00')
darmstadt['Zeit'] = pd.to_datetime(darmstadt['Zeit'], format='%H:%M')
darmstadt['time'] = darmstadt['Zeit'].dt.time
darmstadt.drop(columns=['Datum', 'Zeit', 'Unnamed: 7'], inplace=True)
darmstadt.rename(columns = {'Benzol (C₆H₆)[µg/m³]' : 'Benzol', 'Kohlenmonoxid (CO)[mg/m³]' : 'CO', 'm-/p-Xylol (C₈H₁₀)[µg/m³]' : 'm-/p-Xylol', 'o-Xylol (C₈H₁₀)[µg/m³]' : 'o-Xylol', 'PM2,5[µg/m³]' : 'PM2,5', 'PM10[µg/m³]' : 'PM10','Toluol (C₇H₈)[µg/m³]' : 'Toluol', 'Stickstoffdioxid (NO₂)[µg/m³]' : 'NO2', 'Stickstoffmonoxid (NO)[µg/m³]' : 'NO'}, inplace= True)
darmstadt['location'] = 'rudolf-mueller-anlage'
darmstadt

,CO,"PM2,5",PM10,NO2,NO,date,time,location
0,"0,18",-,"112,9","21,4","6,3",2018-01-01,00:30:00,rudolf-mueller-anlage
1,"0,16",-,"66,5","12,5","2,5",2018-01-01,01:00:00,rudolf-mueller-anlage
2,"0,14",-,"31,2","6,4","1,6",2018-01-01,01:30:00,rudolf-mueller-anlage
3,"0,15",-,"22,4","5,9","1,3",2018-01-01,02:00:00,rudolf-mueller-anlage
4,"0,14",-,"24,4","5,2","1,3",2018-01-01,02:30:00,rudolf-mueller-anlage
...,...,...,...,...,...,...,...,...
100143,-,"7,4","17,1","15,3","0,4",2023-09-18,08:00:00,rudolf-mueller-anlage
100144,-,"7,5","17,8","13,6","0,8",2023-09-18,08:30:00,rudolf-mueller-anlage
100145,-,"7,8","17,6","11,7","0,4",2023-09-18,09:00:00,rudolf-mueller-anlage
100146,-,"7,2","18,8","12,2","0,9",2023-09-18,09:30:00,rudolf-mueller-anlage
100147,-,"5,4","15,0","10,0","0,4",2023-09-18,10:00:00,rudolf-mueller-anlage

# Emissionsdaten Hügelstraße

In [3]:
huegelstr = pd.read_csv('D:\\Data Science\\VS Code\\final_project\\Luftmessung_Darmstadt\\Darmstadt Huegelstrasse.txt', sep=';')
huegelstr['date'] = pd.to_datetime(huegelstr['Datum'], format='%d.%m.%Y')
huegelstr['Zeit'] = huegelstr['Zeit'].replace('24:00', '00:00')
huegelstr['Zeit'] = pd.to_datetime(huegelstr['Zeit'], format='%H:%M')
huegelstr['time'] = huegelstr['Zeit'].dt.time
huegelstr.drop(columns=['Datum', 'Zeit', 'Unnamed: 11'], inplace=True)
huegelstr.rename(columns = {'Benzol (C₆H₆)[µg/m³]' : 'Benzol', 'Kohlenmonoxid (CO)[mg/m³]' : 'CO', 'm-/p-Xylol (C₈H₁₀)[µg/m³]' : 'm-/p-Xylol', 'o-Xylol (C₈H₁₀)[µg/m³]' : 'o-Xylol', 'PM2,5[µg/m³]' : 'PM2,5', 'PM10[µg/m³]' : 'PM10','Toluol (C₇H₈)[µg/m³]' : 'Toluol', 'Stickstoffdioxid (NO₂)[µg/m³]' : 'NO2', 'Stickstoffmonoxid (NO)[µg/m³]' : 'NO'}, inplace= True)
huegelstr['location'] = 'huegelstr'
huegelstr

,Benzol,CO,m-/p-Xylol,o-Xylol,"PM2,5",PM10,NO2,NO,Toluol,date,time,location
0,"1,15","0,31","0,22","0,22",-,"337,4","32,2","34,0","0,45",2018-01-01,00:30:00,huegelstr
1,"1,81","0,22","0,22","0,22",-,"148,2","19,3","9,4","0,54",2018-01-01,01:00:00,huegelstr
2,"0,84","0,16","0,22","0,22",-,"29,2","11,5","3,8","0,49",2018-01-01,01:30:00,huegelstr
3,"0,37","0,15","0,22","0,22",-,"24,2","11,9","4,7","0,19",2018-01-01,02:00:00,huegelstr
4,"0,33","0,18","0,22","0,22",-,"23,4","15,2","7,2","0,19",2018-01-01,02:30:00,huegelstr
...,...,...,...,...,...,...,...,...,...,...,...,...
100143,"0,24",-,"2,05","1,04","8,3","18,7","17,6","3,6","1,08",2023-09-18,08:00:00,huegelstr
100144,"0,34",-,"0,89","0,22","8,1","18,7","23,5","16,7","2,85",2023-09-18,08:30:00,huegelstr
100145,"0,19",-,"0,76","0,51","8,3","20,1","19,9","10,6","1,31",2023-09-18,09:00:00,huegelstr
100146,"0,29",-,"0,76","0,22","7,3","17,1","18,1","7,1","2,40",2023-09-18,09:30:00,huegelstr
100147,"0,26",-,"0,77","0,22","5,7","14,9","15,3","6,4","1,11",2023-09-18,10:00:00,huegelstr

# Emissionsdaten Hügelstraße 1

In [56]:
# Directory containing the CSV files
csv_directory = 'D:\\Data Science\\VS Code\\final_project\\Luftmessung_Darmstadt\\Huegelstraße_I'

# List all CSV files in the directory
csv_files = [f for f in os.listdir(csv_directory) if f.endswith('.txt')]

# Initialize an empty DataFrame to store the merged data
merged_data = pd.DataFrame()

# Loop through the CSV files and concatenate them
for csv_file in csv_files:
    file_path = os.path.join(csv_directory, csv_file)
    df = pd.read_csv(file_path, sep=';')
    merged_data = pd.concat([merged_data, df], ignore_index=True)

merged_data_huegelstr_1 = merged_data
merged_data_huegelstr_1['location'] = 'huegelstr_1'
merged_data_huegelstr_1 = merged_data_huegelstr_1.drop(columns=['Unnamed: 2'])
merged_data_huegelstr_1['Monat'] = merged_data_huegelstr_1['Monat'].astype('str')
merged_data_huegelstr_1['Monat'] = merged_data_huegelstr_1['Monat'].replace(to_replace = r'(\d{1,2})\.(\d{3})$', value= r"\g<1>.\g<2>0", regex = True)
merged_data_huegelstr_1['Monat'] = merged_data_huegelstr_1['Monat'].replace(to_replace = r'^(\d{1})\.(\d{4})', value= r'0\1.\2', regex = True)
merged_data_huegelstr_1['date'] = pd.to_datetime(merged_data_huegelstr_1['Monat'], format='%m.%Y')
merged_data_huegelstr_1.drop(columns = ['Monat'], inplace=True)
merged_data_huegelstr_1 = merged_data_huegelstr_1[merged_data_huegelstr_1['Stickstoffdioxid (NO₂)[µg/m³]'] != '-']
merged_data_huegelstr_1.rename(columns = {'Stickstoffdioxid (NO₂)[µg/m³]' : 'NO2'}, inplace= True)



merged_data_huegelstr_1.sample(15)

     NO2     location       date
39  40,6  huegelstr_1 2021-04-01
33  40,6  huegelstr_1 2020-10-01
42  42,3  huegelstr_1 2021-07-01
6   85,3  huegelstr_1 2018-07-01
65  35,3  huegelstr_1 2023-06-01
61  37,0  huegelstr_1 2023-02-01
54  44,7  huegelstr_1 2022-07-01
60  33,6  huegelstr_1 2023-01-01
45  41,5  huegelstr_1 2021-10-01
22  45,8  huegelstr_1 2019-11-01
51  36,9  huegelstr_1 2022-04-01
64  29,8  huegelstr_1 2023-05-01
27  38,6  huegelstr_1 2020-04-01
62  40,9  huegelstr_1 2023-03-01
29  42,9  huegelstr_1 2020-06-01

# Emissionsdaten Heinrichstraße

In [55]:
# Directory containing the CSV files
csv_directory = 'D:\\Data Science\\VS Code\\final_project\\Luftmessung_Darmstadt\\Heinrichstraße'

# List all CSV files in the directory
csv_files = [f for f in os.listdir(csv_directory) if f.endswith('.txt')]

# Initialize an empty DataFrame to store the merged data
merged_data = pd.DataFrame()

# Loop through the CSV files and concatenate them
for csv_file in csv_files:
    file_path = os.path.join(csv_directory, csv_file)
    df = pd.read_csv(file_path, sep=';')
    merged_data = pd.concat([merged_data, df], ignore_index=True)

merged_data_heinrichstr = merged_data
merged_data_heinrichstr['location'] = 'heinrichstr'
merged_data_heinrichstr = merged_data_heinrichstr.drop(columns=['Unnamed: 2'])
merged_data_heinrichstr['Monat'] = merged_data_heinrichstr['Monat'].astype('str')
merged_data_heinrichstr['Monat'] = merged_data_heinrichstr['Monat'].replace(to_replace = r'(\d{1,2})\.(\d{3})$', value= r"\g<1>.\g<2>0", regex = True)
merged_data_heinrichstr['Monat'] = merged_data_heinrichstr['Monat'].replace(to_replace = r'^(\d{1})\.(\d{4})', value= r'0\1.\2', regex = True)
merged_data_heinrichstr['date'] = pd.to_datetime(merged_data_heinrichstr['Monat'], format='%m.%Y')
merged_data_heinrichstr.drop(columns = ['Monat'], inplace=True)
merged_data_heinrichstr = merged_data_heinrichstr[merged_data_heinrichstr['Stickstoffdioxid (NO₂)[µg/m³]'] != '-']
merged_data_heinrichstr.rename(columns = {'Stickstoffdioxid (NO₂)[µg/m³]' : 'NO2'}, inplace= True)


merged_data_heinrichstr.sample(15)

     NO2     location       date
19  40,0  heinrichstr 2019-08-01
48  26,6  heinrichstr 2022-01-01
4   59,2  heinrichstr 2018-05-01
11  42,4  heinrichstr 2018-12-01
34  32,1  heinrichstr 2020-11-01
15  50,7  heinrichstr 2019-04-01
22  38,4  heinrichstr 2019-11-01
24  37,0  heinrichstr 2020-01-01
39  25,6  heinrichstr 2021-04-01
65  25,0  heinrichstr 2023-06-01
2   55,0  heinrichstr 2018-03-01
37  33,2  heinrichstr 2021-02-01
0   47,1  heinrichstr 2018-01-01
14  50,0  heinrichstr 2019-03-01
23  37,1  heinrichstr 2019-12-01