In [1]:
import pandas as pd
import os
from itables import show
import numpy as np
import matplotlib.pyplot as plt
import pickle

# Import csv's

In [2]:
# Directory containing the CSV files
csv_directory = r"D:\Data Science\VS Code\final_project\Verkehrsdataen_Darmstadt\Daten_Verkehrsrechner_2020-2022"

# List all CSV files in the directory
csv_files = [f for f in os.listdir(csv_directory) if f.endswith('.csv')]

In [3]:
# couldn't include A08


# Initialize an empty DataFrame to store the merged data
merged_data = pd.DataFrame()
dfs = []
# Loop through the CSV files and concatenate them
for csv_file in csv_files:
    file_path = os.path.join(csv_directory, csv_file)
    df = pd.read_csv(file_path, sep=';')
    df['intersection'] = csv_file[0:4]
    dfs.append(df)

# Concatenate the DataFrames vertically (stack them on top of each other)
merged_data = pd.concat(dfs, axis=0, ignore_index=True, join = 'outer')

# Reset the index of the merged DataFrame
merged_data.reset_index(drop=True, inplace=True)
show(merged_data)

C:\Users\cathr\AppData\Local\Temp\ipykernel_10696\2030681602.py:10: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, sep=';')

# Clean Traffic Dataframe

In [4]:
#drop all columns about detector occupancy ('Vwz')
pattern = r'^Vwz_'


bel_df = merged_data.drop(columns=[col for col in merged_data.columns if pd.Series(col).str.contains(pattern).any()])
bel_df

,01.06.2020 00:00,Bel_A53_M2_1126,Bel_A57_M4_1121,Bel_D11,Bel_D12,Bel_D20,Bel_D21,Bel_D22,Bel_D23,Bel_D30,...,Bel_V84_Anf,Bel_IR21,Bel_MP4,Bel_MP5,Bel_MP6,Bel_MP7,Bel_MP8,Bel_MP9,Bel_T1_2,Bel_T5_6
0,01.06.2020 00:00,1.0,3.0,1076.0,236.0,0.0,111,62.0,15.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01.06.2020 01:00,0.0,0.0,218.0,32.0,0.0,80,37.0,6.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01.06.2020 02:00,0.0,0.0,134.0,11.0,0.0,42,25.0,4.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01.06.2020 03:00,0.0,0.0,190.0,4.0,0.0,34,19.0,5.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01.06.2020 04:00,1.0,0.0,329.0,7.0,0.0,32,17.0,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239578,01.06.2022 20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,109.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,1.0
239579,01.06.2022 21:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,105.0,3.0,3.0,3.0,2.0,2.0,2.0,6.0,3.0
239580,01.06.2022 22:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,69.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,0.0
239581,01.06.2022 23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,68.0,2.0,2.0,2.0,2.0,2.0,2.0,0.0,1.0
239582,02.06.2022 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,24.0,1.0,1.0,1.0,2.0,2.0,2.0,3.0,0.0

In [5]:
#rename timestamp column
bel_df.columns = ['timestamp'] + list(bel_df.columns[1:])
bel_df

,timestamp,Bel_A53_M2_1126,Bel_A57_M4_1121,Bel_D11,Bel_D12,Bel_D20,Bel_D21,Bel_D22,Bel_D23,Bel_D30,...,Bel_V84_Anf,Bel_IR21,Bel_MP4,Bel_MP5,Bel_MP6,Bel_MP7,Bel_MP8,Bel_MP9,Bel_T1_2,Bel_T5_6
0,01.06.2020 00:00,1.0,3.0,1076.0,236.0,0.0,111,62.0,15.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01.06.2020 01:00,0.0,0.0,218.0,32.0,0.0,80,37.0,6.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01.06.2020 02:00,0.0,0.0,134.0,11.0,0.0,42,25.0,4.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01.06.2020 03:00,0.0,0.0,190.0,4.0,0.0,34,19.0,5.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01.06.2020 04:00,1.0,0.0,329.0,7.0,0.0,32,17.0,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239578,01.06.2022 20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,109.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,1.0
239579,01.06.2022 21:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,105.0,3.0,3.0,3.0,2.0,2.0,2.0,6.0,3.0
239580,01.06.2022 22:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,69.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,0.0
239581,01.06.2022 23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,68.0,2.0,2.0,2.0,2.0,2.0,2.0,0.0,1.0
239582,02.06.2022 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,24.0,1.0,1.0,1.0,2.0,2.0,2.0,3.0,0.0

In [6]:
#filter for detector columns

intersections = bel_df.pop('intersection')
timestamp = bel_df.pop('timestamp')

pattern = r'Bel_D'


bel_d_df = bel_df.filter(regex=pattern)
bel_d_df

,Bel_D11,Bel_D12,Bel_D20,Bel_D21,Bel_D22,Bel_D23,Bel_D30,Bel_D33,Bel_D34,Bel_D35,...,Bel_D112,Bel_D113,Bel_D54,Bel_D92,Bel_D44,Bel_D123,Bel_D83,Bel_D115,Bel_D116,Bel_D85
0,1076.0,236.0,0.0,111,62.0,15.0,0.0,5.0,20.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,218.0,32.0,0.0,80,37.0,6.0,0.0,3.0,16.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,134.0,11.0,0.0,42,25.0,4.0,0.0,2.0,11.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,190.0,4.0,0.0,34,19.0,5.0,0.0,0.0,5.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,329.0,7.0,0.0,32,17.0,3.0,0.0,3.0,14.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#readd intersections name and timestamp
bel_d_df['intersections'] = intersections
bel_d_df['timestamp'] = timestamp
bel_d_df

C:\Users\cathr\AppData\Local\Temp\ipykernel_10696\3610645547.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bel_d_df['intersections'] = intersections
C:\Users\cathr\AppData\Local\Temp\ipykernel_10696\3610645547.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bel_d_df['timestamp'] = timestamp

,Bel_D11,Bel_D12,Bel_D20,Bel_D21,Bel_D22,Bel_D23,Bel_D30,Bel_D33,Bel_D34,Bel_D35,...,Bel_D54,Bel_D92,Bel_D44,Bel_D123,Bel_D83,Bel_D115,Bel_D116,Bel_D85,intersections,timestamp
0,1076.0,236.0,0.0,111,62.0,15.0,0.0,5.0,20.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A001,01.06.2020 00:00
1,218.0,32.0,0.0,80,37.0,6.0,0.0,3.0,16.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A001,01.06.2020 01:00
2,134.0,11.0,0.0,42,25.0,4.0,0.0,2.0,11.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A001,01.06.2020 02:00
3,190.0,4.0,0.0,34,19.0,5.0,0.0,0.0,5.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A001,01.06.2020 03:00
4,329.0,7.0,0.0,32,17.0,3.0,0.0,3.0,14.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A001,01.06.2020 04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A160,01.06.2022 20:00
239579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A160,01.06.2022 21:00
239580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A160,01.06.2022 22:00
239581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A160,01.06.2022 23:00
239582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A160,02.06.2022 00:00

In [8]:
#rename columns so they match the detectors df
bel_d_df.columns = bel_d_df.columns.str.replace('^Bel_', '', regex=True)
bel_d_df

,D11,D12,D20,D21,D22,D23,D30,D33,D34,D35,...,D54,D92,D44,D123,D83,D115,D116,D85,intersections,timestamp
0,1076.0,236.0,0.0,111,62.0,15.0,0.0,5.0,20.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A001,01.06.2020 00:00
1,218.0,32.0,0.0,80,37.0,6.0,0.0,3.0,16.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A001,01.06.2020 01:00
2,134.0,11.0,0.0,42,25.0,4.0,0.0,2.0,11.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A001,01.06.2020 02:00
3,190.0,4.0,0.0,34,19.0,5.0,0.0,0.0,5.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A001,01.06.2020 03:00
4,329.0,7.0,0.0,32,17.0,3.0,0.0,3.0,14.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A001,01.06.2020 04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A160,01.06.2022 20:00
239579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A160,01.06.2022 21:00
239580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A160,01.06.2022 22:00
239581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A160,01.06.2022 23:00
239582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A160,02.06.2022 00:00

In [9]:
#drop all columns that contain only NaNs
bel_d_df.replace(np.nan, None, inplace=True)
bel_d_df.dropna(axis=1, how='all', inplace=True)

bel_d_df.fillna(0, inplace=True)

bel_d_df

C:\Users\cathr\AppData\Local\Temp\ipykernel_10696\2554965988.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bel_d_df.replace(np.nan, None, inplace=True)
C:\Users\cathr\AppData\Local\Temp\ipykernel_10696\2554965988.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bel_d_df.dropna(axis=1, how='all', inplace=True)
C:\Users\cathr\AppData\Local\Temp\ipykernel_10696\2554965988.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bel_d_df.fillna(0, inplace=True)

,D11,D12,D20,D21,D22,D23,D30,D33,D34,D35,...,D54,D92,D44,D123,D83,D115,D116,D85,intersections,timestamp
0,1076.0,236.0,0.0,111,62.0,15.0,0.0,5.0,20.0,14.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,A001,01.06.2020 00:00
1,218.0,32.0,0.0,80,37.0,6.0,0.0,3.0,16.0,10.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,A001,01.06.2020 01:00
2,134.0,11.0,0.0,42,25.0,4.0,0.0,2.0,11.0,9.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,A001,01.06.2020 02:00
3,190.0,4.0,0.0,34,19.0,5.0,0.0,0.0,5.0,7.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,A001,01.06.2020 03:00
4,329.0,7.0,0.0,32,17.0,3.0,0.0,3.0,14.0,8.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,A001,01.06.2020 04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239578,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,A160,01.06.2022 20:00
239579,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,A160,01.06.2022 21:00
239580,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,A160,01.06.2022 22:00
239581,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,A160,01.06.2022 23:00
239582,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,A160,02.06.2022 00:00

In [10]:
#convert timestamps index into datetime
bel_d_df.index = pd.to_datetime(bel_d_df['timestamp'], format='%d.%m.%Y %H:%M')
bel_d_df

,D11,D12,D20,D21,D22,D23,D30,D33,D34,D35,...,D54,D92,D44,D123,D83,D115,D116,D85,intersections,timestamp
timestamp,,,,,,,,,,,,,,,,,,,,,
2020-06-01 00:00:00,1076.0,236.0,0.0,111,62.0,15.0,0.0,5.0,20.0,14.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,A001,01.06.2020 00:00
2020-06-01 01:00:00,218.0,32.0,0.0,80,37.0,6.0,0.0,3.0,16.0,10.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,A001,01.06.2020 01:00
2020-06-01 02:00:00,134.0,11.0,0.0,42,25.0,4.0,0.0,2.0,11.0,9.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,A001,01.06.2020 02:00
2020-06-01 03:00:00,190.0,4.0,0.0,34,19.0,5.0,0.0,0.0,5.0,7.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,A001,01.06.2020 03:00
2020-06-01 04:00:00,329.0,7.0,0.0,32,17.0,3.0,0.0,3.0,14.0,8.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,A001,01.06.2020 04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-01 20:00:00,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,A160,01.06.2022 20:00
2022-06-01 21:00:00,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,A160,01.06.2022 21:00
2022-06-01 22:00:00,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,A160,01.06.2022 22:00
2022-06-01 23:00:00,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,A160,01.06.2022 23:00
2022-06-02 00:00:00,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,A160,02.06.2022 00:00

In [11]:
#drop old timestamp column
bel_d_df.drop(columns = 'timestamp', inplace=True)

C:\Users\cathr\AppData\Local\Temp\ipykernel_10696\3191496785.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bel_d_df.drop(columns = 'timestamp', inplace=True)

In [12]:
#group by intersection and timestamp
bel_d_df_group = bel_d_df.groupby(['intersections', 'timestamp']).sum()
bel_d_df_group

C:\Users\cathr\AppData\Local\Temp\ipykernel_10696\1133024812.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  bel_d_df_group = bel_d_df.groupby(['intersections', 'timestamp']).sum()

                                      D11    D12  D20   D22   D23  D30  D33  \
intersections timestamp
A001          2020-06-01 00:00:00  1076.0  236.0  0.0  62.0  15.0  0.0  5.0
              2020-06-01 01:00:00   218.0   32.0  0.0  37.0   6.0  0.0  3.0
              2020-06-01 02:00:00   134.0   11.0  0.0  25.0   4.0  0.0  2.0
              2020-06-01 03:00:00   190.0    4.0  0.0  19.0   5.0  0.0  0.0
              2020-06-01 04:00:00   329.0    7.0  0.0  17.0   3.0  0.0  3.0
...                                   ...    ...  ...   ...   ...  ...  ...
A160          2022-06-01 20:00:00     0.0    0.0  0.0   0.0   0.0  0.0  0.0
              2022-06-01 21:00:00     0.0    0.0  0.0   0.0   0.0  0.0  0.0
              2022-06-01 22:00:00     0.0    0.0  0.0   0.0   0.0  0.0  0.0
              2022-06-01 23:00:00     0.0    0.0  0.0   0.0   0.0  0.0  0.0
              2022-06-02 00:00:00     0.0    0.0  0.0   0.0   0.0  0.0  0.0

                                    D34   D35    D41  ...  D31_2  D15  D36  \
intersections timestamp                               ...
A001          2020-06-01 00:00:00  20.0  14.0   35.0  ...    0.0  0.0  0.0
              2020-06-01 01:00:00  16.0  10.0   27.0  ...    0.0  0.0  0.0
              2020-06-01 02:00:00  11.0   9.0    8.0  ...    0.0  0.0  0.0
              2020-06-01 03:00:00   5.0   7.0    9.0  ...    0.0  0.0  0.0
              2020-06-01 04:00:00  14.0   8.0    9.0  ...    0.0  0.0  0.0
...                                 ...   ...    ...  ...    ...  ...  ...
A160          2022-06-01 20:00:00   0.0   0.0  100.0  ...    0.0  0.0  0.0
              2022-06-01 21:00:00   0.0   0.0   63.0  ...    0.0  0.0  0.0
              2022-06-01 22:00:00   0.0   0.0   47.0  ...    0.0  0.0  0.0
              2022-06-01 23:00:00   0.0   0.0   31.0  ...    0.0  0.0  0.0
              2022-06-02 00:00:00   0.0   0.0   16.0  ...    0.0  0.0  0.0

                                   D37  D44  D123  D83  D115  D116  D85
intersections timestamp
A001          2020-06-01 00:00:00  0.0  0.0   0.0  0.0   0.0   0.0  0.0
              2020-06-01 01:00:00  0.0  0.0   0.0  0.0   0.0   0.0  0.0
              2020-06-01 02:00:00  0.0  0.0   0.0  0.0   0.0   0.0  0.0
              2020-06-01 03:00:00  0.0  0.0   0.0  0.0   0.0   0.0  0.0
              2020-06-01 04:00:00  0.0  0.0   0.0  0.0   0.0   0.0  0.0
...                                ...  ...   ...  ...   ...   ...  ...
A160          2022-06-01 20:00:00  0.0  0.0   0.0  0.0   0.0   0.0  0.0
              2022-06-01 21:00:00  0.0  0.0   0.0  0.0   0.0   0.0  0.0
              2022-06-01 22:00:00  0.0  0.0   0.0  0.0   0.0   0.0  0.0
              2022-06-01 23:00:00  0.0  0.0   0.0  0.0   0.0   0.0  0.0
              2022-06-02 00:00:00  0.0  0.0   0.0  0.0   0.0   0.0  0.0

[239528 rows x 30 columns]

In [13]:
#replaces all negative values in the df with 0
bel_d_df_group = bel_d_df_group.applymap(lambda x: max(0, x))

In [14]:
test = bel_d_df_group.loc[bel_d_df_group['D22'] == 17549]
test

,,D11,D12,D20,D22,D23,D30,D33,D34,D35,D41,...,D31_2,D15,D36,D37,D44,D123,D83,D115,D116,D85
intersections,timestamp,,,,,,,,,,,,,,,,,,,,,
A015,2022-05-24 02:00:00,32.0,6.0,0,17549.0,1.0,0,0.0,0.0,0.0,7.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0

In [15]:
show(bel_d_df_group.describe())

# Filter for inbound and outbound traffic

## Import detectors df

In [16]:
# import excel sheet with relevant detectors

detectors = pd.read_excel(r"D:\Data Science\VS Code\final_project\Verkehrsdataen_Darmstadt\detectors.xlsx")
detectors['percentage'] = detectors['percentage'].astype('float')
show(detectors)

In [ ]:
for intersection in detectors.intersection.unique():
    detectors_int = detectors.loc[detectors['intersections'] == intersection]
    for detector in detectors_int.detector:
        if detectors_int.loc[detectors_int['detector'] == detector, 'inbound'].any() == 1:
            bel_d_df_group.loc[(bel_d_df_group['intersections'] == intersection), 
                               detector] *= -1
        elif detectors_int.loc[detectors_int['detector'] == detector].empty:
            bel_d_df_group.

In [26]:
#create smaller test df
bel_test = bel_d_df_group.sample(200)

In [43]:
bel_test1 = bel_test.reset_index( level =0)
bel_test1

,intersections,D11,D12,D20,D22,D23,D30,D33,D34,D35,...,D31_2,D15,D36,D37,D44,D123,D83,D115,D116,D85
timestamp,,,,,,,,,,,,,,,,,,,,,
2021-10-13 19:00:00,A036,45.0,145.0,0,228.0,103.0,0,96.0,101.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
2021-08-05 18:00:00,A111,289.0,0.0,0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
2022-05-11 07:00:00,A015,76.0,165.0,0,1835.0,92.0,0,0.0,0.0,0.0,...,135.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
2021-06-25 20:00:00,A067,0.0,0.0,0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,0,0.0,0.0,0.0
2020-11-19 11:00:00,A069,0.0,0.0,0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,193.0,438.0,169.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-14 01:00:00,A010,17.0,31.0,0,9.0,0.0,0,36.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
2021-07-14 10:00:00,A160,0.0,0.0,0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
2021-09-11 22:00:00,A015,62.0,126.0,0,2098.0,40.0,0,0.0,0.0,0.0,...,28.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
2022-05-23 13:00:00,A111,0.0,0.0,0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
2020-06-24 22:00:00,A160,0.0,0.0,0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0

In [46]:
bel_d_df_group = bel_d_df_group.reset_index( level =0)
bel_d_df_group

,intersections,D11,D12,D20,D22,D23,D30,D33,D34,D35,...,D31_2,D15,D36,D37,D44,D123,D83,D115,D116,D85
timestamp,,,,,,,,,,,,,,,,,,,,,
2020-06-01 00:00:00,A001,1076.0,236.0,0,62.0,15.0,0,5.0,20.0,14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
2020-06-01 01:00:00,A001,218.0,32.0,0,37.0,6.0,0,3.0,16.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
2020-06-01 02:00:00,A001,134.0,11.0,0,25.0,4.0,0,2.0,11.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
2020-06-01 03:00:00,A001,190.0,4.0,0,19.0,5.0,0,0.0,5.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
2020-06-01 04:00:00,A001,329.0,7.0,0,17.0,3.0,0,3.0,14.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-01 20:00:00,A160,0.0,0.0,0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
2022-06-01 21:00:00,A160,0.0,0.0,0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
2022-06-01 22:00:00,A160,0.0,0.0,0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
2022-06-01 23:00:00,A160,0.0,0.0,0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
2022-06-02 00:00:00,A160,0.0,0.0,0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0

In [47]:
#multiply all inbound traffic with -1
for timestamp, row in bel_d_df_group.iterrows():
    intersection = row['intersections']
    detectors_int = detectors.loc[detectors['intersection'] == intersection]
    
    # Iterate through all columns in bel_test1
    for column_name in bel_d_df_group.columns:
        detectors_det = detectors_int.loc[detectors_int['detector'] == column_name]
       
        if detectors_det['inbound'].any() == 1:
            
            bel_d_df_group.at[timestamp, column_name] *= -1
        elif detectors_det.empty:
            bel_d_df_group.at[timestamp, column_name] *= 0

In [48]:
bel_d_df_group

,intersections,D11,D12,D20,D22,D23,D30,D33,D34,D35,...,D31_2,D15,D36,D37,D44,D123,D83,D115,D116,D85
timestamp,,,,,,,,,,,,,,,,,,,,,
2020-06-01 00:00:00,,0.0,-0.0,0,-0.0,-0.0,0,0.0,-0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,-0.0,0.0,0.0
2020-06-01 01:00:00,,0.0,-0.0,0,-0.0,-0.0,0,0.0,-0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,-0.0,0.0,0.0
2020-06-01 02:00:00,,0.0,-0.0,0,-0.0,-0.0,0,0.0,-0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,-0.0,0.0,0.0
2020-06-01 03:00:00,,0.0,-0.0,0,-0.0,-0.0,0,0.0,-0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,-0.0,0.0,0.0
2020-06-01 04:00:00,,0.0,-0.0,0,-0.0,-0.0,0,0.0,-0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,-0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-01 20:00:00,,0.0,-0.0,0,-0.0,-0.0,0,0.0,-0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,-0.0,0.0,0.0
2022-06-01 21:00:00,,0.0,-0.0,0,-0.0,-0.0,0,0.0,-0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,-0.0,0.0,0.0
2022-06-01 22:00:00,,0.0,-0.0,0,-0.0,-0.0,0,0.0,-0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,-0.0,0.0,0.0
2022-06-01 23:00:00,,0.0,-0.0,0,-0.0,-0.0,0,0.0,-0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,-0.0,0.0,0.0
2022-06-02 00:00:00,,0.0,-0.0,0,-0.0,-0.0,0,0.0,-0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,-0.0,0.0,0.0

In [ ]:
import pandas as pd
import time

start_time = time.time()

for timestamp, row in bel_d_df_group.iterrows():
    intersection = row['intersections']
    detectors_int = detectors.loc[detectors['intersection'] == intersection]
    
    for column_name in bel_d_df_group.columns:
        detectors_det = detectors_int.loc[detectors_int['detector'] == column_name]
       
        if detectors_det['inbound'].any() == 1:
            bel_d_df_group.at[timestamp, column_name] *= -1
            bel_d_df_group.at[timestamp, column_name] *= detectors_det['percentage']
        elif detectors_det.empty:
            bel_d_df_group.at[timestamp, column_name] *= 0
            bel_d_df_group.at[timestamp, column_name] *= detectors_det['percentage']
        else:
            bel_d_df_group.at[timestamp, column_name] *= detectors_det['percentage']

end_time = time.time()

elapsed_time = end_time - start_time
print(f"Elapsed time: {elapsed_time:.2f} seconds")

In [ ]:
bel_d_df_group

In [ ]:
#pickle result df
import pickle
bel_d_df_group.to_pickle('inbound_outbound_2020-2022')

In [103]:
A1 = pd.read_csv(r"D:\Data Science\VS Code\final_project\Verkehrsdataen_Darmstadt\Daten_Verkehrsrechner_2020-2022\A001_2020-06-01_-_2022-06-01.csv", sep = ';')
A1

,01.06.2020 00:00,Bel_A53_M2_1126,Vwz_A53_M2_1126,Bel_A57_M4_1121,Vwz_A57_M4_1121,Bel_D11,Vwz_D11,Bel_D12,Vwz_D12,Bel_D20,...,Bel_Schluessel_S53,Vwz_Schluessel_S53,Bel_Schluessel_S57,Vwz_Schluessel_S57,Bel_T1_T2,Vwz_T1_T2,Bel_T3_T4,Vwz_T3_T4,Bel_T5_T6,Vwz_T5_T6
0,01.06.2020 00:00,1,1000,3,3000,1076,320680,236,317420,0,...,0,0,0,0,1,1580,2,3180,0,0
1,01.06.2020 01:00,0,0,0,0,218,245320,32,134720,0,...,0,0,0,0,2,3160,5,7950,1,1610
2,01.06.2020 02:00,0,0,0,0,134,168520,11,98810,0,...,0,0,0,0,0,0,2,4300,0,0
3,01.06.2020 03:00,0,0,0,0,190,97570,4,360,0,...,0,0,0,0,0,0,0,0,0,0
4,01.06.2020 04:00,1,990,0,0,329,172861,7,56330,0,...,0,0,0,0,1,2790,0,0,1,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17540,01.06.2022 20:00,7,6970,8,7960,63,1023551,69,1274409,0,...,0,0,0,0,21,34530,18,30011,20,39990
17541,01.06.2022 21:00,4,4000,5,4990,63,1003956,58,1003633,0,...,0,0,0,0,29,57811,15,23729,13,24430
17542,01.06.2022 22:00,4,3990,4,3980,40,566078,35,726422,0,...,0,0,0,0,15,31141,11,21050,12,35935
17543,01.06.2022 23:00,2,2000,2,2000,25,376370,27,422533,0,...,0,0,0,0,16,41108,7,16842,4,7260
17544,02.06.2022 00:00,2,2000,3,3000,6,182030,12,358330,0,...,0,0,0,0,6,12150,4,11698,3,7180

In [65]:
dfs1 = []
file_path = os.path.join(csv_directory, csv_file)
df = pd.read_csv(file_path, sep=';')
df
df['intersection'] = csv_file[0:4]
df
dfs1.append(df)
dfs2 = pd.concat(dfs1, ignore_index=True)

# Reset the index of dfs2
dfs2.reset_index(drop=True, inplace=True)
dfs2

,01.06.2020 00:00,Bel_D31,Vwz_D31,Bel_D32,Vwz_D32,Bel_D41,Vwz_D41,Bel_D42,Vwz_D42,Bel_D43,...,Vwz_MP7,Bel_MP8,Vwz_MP8,Bel_MP9,Vwz_MP9,Bel_T1_2,Vwz_T1_2,Bel_T5_6,Vwz_T5_6,intersection
0,01.06.2020 00:00,19,102160,21,29130,39,210468,5,4780,43,...,4075,2,4020,2,4010,0,0,0,0,A160
1,01.06.2020 01:00,10,130231,12,8770,22,109350,0,0,25,...,0,0,0,0,0,0,0,0,0,A160
2,01.06.2020 02:00,9,38030,10,6190,14,80230,0,0,15,...,0,0,0,0,0,0,0,0,0,A160
3,01.06.2020 03:00,3,15600,1,950,11,67856,0,0,11,...,0,0,0,0,0,0,0,0,0,A160
4,01.06.2020 04:00,4,25460,5,3660,4,15750,1,640,4,...,0,0,0,0,0,0,0,0,0,A160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17540,01.06.2022 20:00,135,867599,155,201240,100,903497,17,61600,97,...,8040,4,8040,4,8020,4,7780,1,1140,A160
17541,01.06.2022 21:00,98,754373,124,154650,63,522566,11,26720,57,...,4010,2,4020,2,4020,6,5110,3,3090,A160
17542,01.06.2022 22:00,81,597157,97,93480,47,421073,2,800,53,...,4000,2,4020,2,4020,3,2270,0,0,A160
17543,01.06.2022 23:00,55,304693,62,58370,31,273151,3,1580,31,...,4020,2,4010,2,4020,0,0,1,670,A160
17544,02.06.2022 00:00,22,123840,23,22610,16,138580,2,1120,17,...,4020,2,4010,2,4020,3,2180,0,0,A160